@import url(https://unpkg.com/bootstrap@4.1.0/dist/css/bootstrap.min.css);


@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?i226ha');
  src:  url('fonts/icomoon.eot?i226ha#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?i226ha') format('truetype'),
    url('fonts/icomoon.woff?i226ha') format('woff'),
    url('fonts/icomoon.svg?i226ha#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}


.social-bar {
	position: fixed;
	right: 0;
	top: 35%;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
  z-index: 100;
  text-decoration: none;
}

.icon {
	color: white;
	text-decoration: none;
	padding: .7rem;
	display: flex;
	transition: all .5s;
}

.icon-facebook {
  background: #2E406E;
  text-decoration: none;
}

.icon-twitter {
	background: #339DC5;
}

.icon-youtube {
	background: #E83028;
}

.icon-instagram {
	background: #3F60A5;
}

.icon:first-child {
	border-radius: 1rem 0 0 0;
}

.icon:last-child {
	border-radius: 0 0 0 1rem;
}

.icon:hover {
	padding-right: 3rem;
	border-radius: 1rem 0 0 1rem;
  box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
  text-decoration: none;
  color: aliceblue;
}
.card:hover{
  background-color:#f4f4f4 !important;
}
.cifras:hover{
  font-size: 20px;
}

.footer {
  background: #2f3640;
  color: #616161;
  font-size: 12px;
  padding: 20px 0;
  text-align: center;
  font-size: 1rem;
  padding-bottom: 20px;
}
/* Follow */
.social {
  margin: 50px;
}
.social p {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}
.links {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #616161;
}
.links a {
  margin: 0 30px;
  color: #616161;
}
.links a:hover {
  margin: 0 30px;
  color: #fff;
}

.links a i {
  font-size: 3rem;
}
h1,h2{
  color: #616161;
}